{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container-about">

        <img src="{{ asset('img/about/about.jpg') }}">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur cum delectus dolorum eius error
            impedit minus possimus quam quasi sequi, similique unde, vitae! Animi consequuntur dolores est magni nihil
            placeat quas rem suscipit, vel voluptas. Ab accusamus adipisci assumenda autem commodi consequuntur
            cupiditate, dicta excepturi id inventore ipsam magni minus omnis perspiciatis quibusdam quidem ratione
            tempora velit. Aperiam earum esse facilis inventore minima recusandae sapiente veniam voluptate. Culpa
            cupiditate error nulla, pariatur possimus suscipit? Atque deserunt eius, eveniet natus sint sunt totam? Ab
            alias autem beatae consectetur consequatur, dolores dolorum excepturi officiis perferendis quae reiciendis
            sint ullam voluptate. Commodi?</p>
    </div>



{% endblock %}