{% extends 'base.html.twig' %}

{% block title %}Team{{ parent() }}{% endblock %}

{% block body %}
    <section id="team">
        <div>
            <div>
                <h3>Vanessa Smith</h3><img src="{{ asset('img/team/team04.jpg') }}" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat itaque officia, qui saepe sint.</p>
                <p><a href="#"><i class="fab fa-facebook-square"></i></a>&nbsp;<a href="#"><i
                                class="fab fa-twitter-square"></i></a>&nbsp;<a
                            href="#"><i class="fab fa-linkedin"></i></a>&nbsp;<a href="#"><i
                                class="fab fa-google-plus-square"></i></a></p>
            </div>
            <div>
                <h3>Amanda Blake</h3>
                <img src="{{ asset('img/team/team02.jpg') }}" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat itaque officia, qui saepe sint.</p>
                <p><a href="#"><i class="fab fa-facebook-square"></i></a>&nbsp;<a href="#"><i
                                class="fab fa-twitter-square"></i></a>&nbsp;<a
                            href="#"><i class="fab fa-linkedin"></i></a>&nbsp;<a href="#"><i
                                class="fab fa-google-plus-square"></i></a></p>
            </div>
            <div>
                <h3>Eric Doe</h3>
                <img src="{{ asset('img/team/team01.jpg') }}" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat itaque officia, qui saepe sint.</p>
                <p><a href="#"><i class="fab fa-facebook-square"></i></a>&nbsp;<a href="#"><i
                                class="fab fa-twitter-square"></i></a>&nbsp;<a
                            href="#"><i class="fab fa-linkedin"></i></a>&nbsp;<a href="#"><i
                                class="fab fa-google-plus-square"></i></a></p>
            </div>
            <div>
                <h3>Francois Doe</h3>
                <img src="{{ asset('img/team/team03.jpg') }}" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat itaque officia, qui saepe sint.</p>
                <p><a href="#"><i class="fab fa-facebook-square"></i></a>&nbsp;<a href="#"><i
                                class="fab fa-twitter-square"></i></a>&nbsp;<a
                            href="#"><i class="fab fa-linkedin"></i></a>&nbsp;<a href="#"><i
                                class="fab fa-google-plus-square"></i></a></p>
            </div>
            <div>
                <h3>Eric Doe</h3>
                <img src="{{ asset('img/team/team05.jpg') }}" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat itaque officia, qui saepe sint.</p>
                <p><a href="#"><i class="fab fa-facebook-square"></i></a>&nbsp;<a href="#"><i
                                class="fab fa-twitter-square"></i></a>&nbsp;<a
                            href="#"><i class="fab fa-linkedin"></i></a>&nbsp;<a href="#"><i
                                class="fab fa-google-plus-square"></i></a></p>
            </div>
        </div>
    </section>


{% endblock %}