    {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">ArtGallery</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active text-white " href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('about') }}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('team') }}" >Team</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link text-white" href="{{ path('gallery') }}">Gallery</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('admin') }}">Admin</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}