
@font-face {
    font-family: Philosopher;
    src: url("../fonts/Philosopher-Regular.ttf");
}
@font-face {
    font-family: Philosopher;
    src: url("../fonts/Philosopher-Bold.ttf");
}


*{
    margin: 0;
    padding: 0;
}
p {
    font-family: Philosopher, sans-serif;
}

.navbar-nav{
    color: orange;
}

#carousel img{
    height: 100%;
}

#team > div {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;

}
.btn{
    padding: 1rem;
    border: 1px solid;

}
.btn:hover{
    color: orange;
    border: 1px solid;
}

#team > div div {
    width: 50%;
    padding: 20px;
}

#team img{
    border-radius: 50%;
    border: 4px solid #eeeeee;
    transition: filter 1s;
}

#team img:hover {
    filter: grayscale(100);
}

#team p:first-child {
    color: #606060;
    font-size: 1.2rem;
}

#team p:last-child {
    font-size: 1.8rem;
}

#team h3 {
    padding-bottom: 2rem;
    font-size: 1.6rem;
    color: #898989;
}

#team a {
    color: #606060;
}

#team a:hover {
    color: #E65100;
}

.container-about{
    display: flex;

}
.container-about img{
    padding: 10px;
}
.container-about p{
    padding: 10px;
}
footer {
    border-top: 1px ;
    text-align: center;
    color: #fff;
}


footer a {
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: orange;
}