{% extends 'base.html.twig' %}
{% block title %}Ajouter un tableau{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Ajouter un article un article</h2>
                {{ form(form) }}
            </div>
        </section>
    </main>

{% endblock %}