{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}


{% block body %}
    {% block message %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endblock %}
    <main>
        <h2>Bonjour et Bienvenue sur l'admin</h2>
        <a href="{{ path('add') }}" class="btn btn-dark">Add</a>
        <div class="album py-5 bg-light">

            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for painting in paintings %}
                        <div class="col">

                            <div class="card shadow-sm">
                                <img src="{{ asset('img/paint/' ~ painting.image) }}" alt="" class="img-fluid">
                                <div class="card-body">
                                    <p>{{ painting.title }}</p>
                                    <p>{{ painting.createdAt | date('d/m/Y') }}</p>
                                    <p>{{ painting.category.name }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('detail', {id:painting.id}) }}" class="btn btn-dark">Detail</a>
                                            <a href="{{ path('delete', {id:painting.id}) }}" class="btn btn-dark">Delete</a>
                                            <a href="{{ path('edit', {id:painting.id}) }}" class="btn btn-dark">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </main>
{% endblock %}
