{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}
{% block body %}
{% include('partials/slider.html.twig') %}
    <main id="home">
        <div class="bg-dark text-secondary px-4 py-5 text-center h-100">
            <div class="py-5">
                <h1 class="display-5 fw-bold">Bienvenue sur ma Galerie d'art!</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-5 mb-4">Ce site a été conçu pour permettre de consulter des oeuvres d'art en ligne gratuitement,
                    les images utilisées sont libres de droit. Vous êtes libres de vous balader comme bon vous semble. Pour commencer
                    cette balade sans plus attendre cliquer sur le bouton ci-dessous.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a href="{{ path('gallery') }} " class="btn btn-outline-light">Visiter la galerie</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}