{% extends 'base.html.twig' %}
{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="display-4 my-4">Détail du tableau</h2>
            </div>

            <div class="col-md-4">
                <img src="{{ asset('img/paint/' ~ paintings.image) }}" alt="" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h3 class="display-5">{{ paintings.title|upper }}</h3>
                <h4>{{ paintings.category.name }}</h4>
                <h4>{{ paintings.createdAt|date('d/m/Y') }}</h4>
                <p class="lead">{{ paintings.description }}</p>
                <p><a href="{{ path('gallery') }}" class="btn btn-outline-dark">Retour à la gallery</a></p>
            </div>
        </div>
        <div class="col-md-8 offset-md-2" id="comments">
            {% for comment in paintings.comments %}
                <h5 class="mt-3">{{ comment.title }}</h5>
                <h6>User Name</h6>
                <h6 class="text-muted">Ajouté le&nbsp;{{ comment.createdAt | date('d/m/Y') }}
                    {% for i in 1..5 %}
                        {% if i <= comment.rating %}
                            <i class="icofont-star text-primary"></i>
                        {% else %}
                            <i class="icofont-star text-secondary"></i>
                        {% endif %}
                    {% endfor %}
                </h6>
                <p>{{ comment.comment }}</p>
                <hr>
            {% endfor %}
        </div>
    </main>
{% endblock %}