{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <main>
        <div class="album py-5 bg-dark">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col-md-12 controls-filter">
                        <ul>

                            <li data-filter="all" class="btn btn-outline-primary"> All items </li>
                            {% for category in categories %}
                                <li data-filter="{{ category.id }}" class="btn btn-outline-primary"> {{ category.name}} </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col filter-container">
                        {% for painting in paintings %}
                            <div class="col-md-4 filtr-item" data-category="{{ painting.category.id }}" data-sort="value">
                        <div class="card shadow-none">
                            <img src="{{ asset('img/paint/' ~ painting.image) }}" alt="" class="img-fluid">
                            <div class="card-body ">
                                <p>{{ painting.title }}</p>
                                <p>{{ painting.createdAt | date('d/m/Y') }}</p>
                                <p>{{ painting.category.name }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm" href="{{ path('detail', {id:painting.id}) }}">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </main>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.filterizr.min.js') }}"></script>
    <script>
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script>
{% endblock %}